<html>
<head>
	<title>Movies</title>
	<link rel="stylesheet" type="text/css" href="../static/Homestyle.css">
</head>
<body class="back">
	<div class="saja">
		<center>
			<img width="1290"id="image" src="../static/movie.jpeg" >
		</center>
		<h1 id="name">A Trip To The Moon</h1>
		<h3 id="description">Website for movies production</h3>
	</div>
	<nav>
		<center id="navbarr">
		<ul class="NavBar">
			<li id="li1"><a href="/">Home</a></li>
			<li id="li2"><a href="/his">Production History</a></li>
			<li id="li3"><a href="/vid">Instructions</a></li>
			<li id="li4"><a href="/team">Our Team</a></li>			
			<li id="li5"><a href="/form">Feedback</a></li>			

		</ul>	
		</center>
	</nav>
	{% block body %}
	<h4>Welcome!</h4>
	<p id="intro">If you are movies expert or beginner or just passionate ,then this website is just perfect </p>
	<h5 id="int">for you</h5>



	

	{% endblock %}


</body>