body{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}
.saja #name{
	color:white;
	position: absolute;
	top: 300px;
	right: 500px;
}
#description{
	color: white;
	position: absolute;
	top: 395px;
	right: 523px;
	font-size: 12px;
}
a{
	padding: 17px 0px 17px 0px;
	color:black;
	text-decoration: inherit;

}



#name{
	border: solid;
	border-width: 2px;
	padding: 40px 20px 40px 20px;
	font-style: italic;
	font-size: 30px;


}

#li1,#li2,#li3,#li4,#li5{
	display: inline;
	margin-right: 32px;
}


#navbarr .NavBar li a:hover{
	color: black;
	background-color: lightgray;
	border-radius: 5px;

}
#eve{
	margin-left: 120;

	font-size: 30;

	margin-top: 40;
}
#navbarr{
	background-color:white;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	left: 23%;
	top: 600px;
	text-decoration: none;
}
.NavBar{
	list-style-type: none;
}
.sdsd{
	padding: 20px 20px 20px 70px;
	font-size: 80px;
	margin-left: 300;
	margin-right: 500;
}
#intro{
	padding: 20px 20px 20px 70px;
	font-size: 30px;
	margin-left: 190px;
	margin-right: 300;
	margin-top: -100px;
	color: gray;

}
#int{
	padding: 20px 20px 20px 70px;
	font-size: 30;
	margin-left: 500;
	margin-right: 300;
	margin-top: -60;
	color: gray;
}

#titl{
	text-align: center;
	border:solid;
	padding: 40px 10px 40px 10px;
	font-size: 30px;
	background-color: black;
	color:coral;

}

#p1,#p2,#p3,#p4,#p5{
	text-align: center;
	border:solid;
	padding: 20px 0px 10px 10px;
	font-size: 20px;
	background-color: black;
	color:coral;
	border-radius: 20px;
	margin-left: 0px;
	margin-right: 900px;



}
.sa{
	border: solid;
	border-width: 2px;
	padding: 10px 10px 10px 10px;
	font-style: italic;
	font-size: 30px;
	background-color: black;
	color: white;
	border-radius: 20px
}
.yay{
	border: solid;
	border-width: 2px;
	padding: 10px 10px 10px 10px;
	font-style: italic;
	font-size: 30px;
	background-color: black;
	color:white;
}
#info{
	margin-left: 200px;
	margin-bottom: 30px;
	/*line-height: 9em;*/
}

.ha{
	border: solid;
	border-width: 2px;
	padding: 10px 10px 10px 10px;
	font-style: italic;
	font-size: 30px;
	background-color: black;
	color: white;
	border-radius: 20px
 

}
.personsaja{
	border: solid;
	border-width: 2px;
	padding: 10px 10px 10px 10px;
	font-style: italic;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 20px;
}
.sajaweb{
	border: solid;
	border-width: 2px;
	padding: 10px 10px 10px 10px;
	font-style: italic;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 20px;

}
.personhala{
	border: solid;
	border-width: 2px;
	padding: 10px 10px 10px 10px;
	font-style: italic;
	font-size: 20px;
	background-color: black;
	color: white;
	border-radius: 20px;

}
