<html>
<head>
	<title>About us</title>
	<link rel="stylesheet" type="text/css" href="HOME.css">

</head>
<body>
	{% extends "HOME.html" %}

	{% block body %}
	<center>

		<h1 class="code">Code For Palestine</h1>
	

	<img  width= 700 src="../static/us.jpg">
	</center>


		<h3 id="info">Code for Palestine is a schoolership that cares about students who are in ninth grade , students who are accepted in this schoolership learn for almost three years about design thinking and different kinds of programming languages for instsnce at the first year they study python language ,then Html ,css , JavaScript and Flask.</h3>
		<hr>
		<center>
		<img  width= 500 src="../static/hs.jpg">

		<h3> Our Team:</h3>
		</center>
		<h3 class="ha">1- Hala Nabil </h3>
		<ul class="haa"><li>A year two student </li>
			<li>A portraits drawer</li>
			<li>studies at Arafat gifted school</li>
			<li>Music& programming lover</li>
			<li>Movies fan</li>
		</ul>
		<a class="personhala" href="/personHala"> Click here for my personal website</a>

		<h3 class="sa">2- Saja Nabil </h3>
		<ul class="saa"><li>A year two student </li>
			<li>Programming & songs lover</li>
			<li>studies at Arafat gifted school</li>
			<li>Movies fan</li>
		</ul>
		<a class="personsaja" href="/personSaja"> Click here for my personal website</a>

	{% endblock %}
		
</body>
</html>
