<html>
<head>
	<title>form practice</title>
	<link rel="stylesheet" type="text/css" href="Homestyle.html">

</head>
<body>
	{% extends "HOME.html" %}

	{% block body %}
	<center>
		<p class="sa">Feedback</p>
	</center>

	<form action="/submit" method="POST">
		<div>
			<label>__Feedback</label>
			<input type="text" name="feedBack">
		</div>

		<br>
		<div>
			<label>__What do you want to change in the animation world?</label>
			<input type="text" name="Change" >
		</div>
		<br>

	
		<div>
			<input type="submit" name="submit" value="Submit" >

		</div>
	</form>
	{% endblock %}

</body>
</html>