<html>
<head>
	<title>videos</title>
	<link rel="stylesheet" type="text/css" href="Homestyle.css">
</head>
<body>
	{% extends "HOME.html" %}

	{% block body %}
	<img width="95" src="../static/images.jpeg" style="position: absolute;
	left: 3px;
	top: 668px;">
	<p id="titl"> Learn Animation in Five Videos</p>
	<p id="p1">Intro to Adobe Animate [Part 1] | Tutorial</p>
	<center>
		<iframe width="854" height="480" src="https://www.youtube.com/embed/OrLz6McW55w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</center>

	<p id="p2">	Intro to Adobe Animate [Part 2] | Tutorial</p>
	<center>
		<iframe width="854" height="480" src="https://www.youtube.com/embed/_K2cH74f8MU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</center>
	
	<p id="p3">Intro to Adobe Animate [Part 3] | Tutorial</p>
	<center>
		<iframe width="854" height="480" src="https://www.youtube.com/embed/28w08D1-QuI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</center>
	
	<p id="p4">Intro to Adobe Animate [Part 4] | Tutorial</p>
	<center>
		<iframe width="854" height="480" src="https://www.youtube.com/embed/v7QKzw0-EPk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</center>

	<p id="p5">Intro to Adobe Animate [Part 5] FINALE | Tutorial</p>
	<center>
		<iframe width="854" height="480" src="https://www.youtube.com/embed/LFqu2fbMf2Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</center>
	
	{% endblock %}

</body>

