<html>
<head>
	<title>My family!</title>
	<link rel="stylesheet" type="text/css" href="../static/mystylee.css">
</head>
<center>
<h1>My family</h1>
<div>
	<img id="baba" width = "300" src="../static/bab.png">
	<h2>My father</h2>
	<h3>He is 50 years old </h3>
</div>
<div>
	<img id="mama" width = "250" src="../static/mam.png">
	<h4>My mother</h4>
	<h5>She is 43 years old </h5>
</div>
<div>
	<img id="mohamed" width="240" src="../static/mohamed.png">
	<h6>My brother Mohamed</h6>
	<h7>He is 13 years</h7>
</div>	
<div>
	<img id="heba" width="380" src="../static/so.jpg">
	

</div>	
<div>
	<h8>My sisters  Heba and aya...  </h8>
	<h9>Heba is 18 years and Aya is  23 years  </h9>
</div>
<div>
	<img id="anas" width="380" src="../static/anas.jpg">

</div>
	<h10>My brothers Ahmed and Anas </h10>
<div>
	<h11>Ahmed  is 20 years and Anas is 22 years </h11>
</div>
<div>
	<img id="myar" width="380" src="../static/myar.png">

</div>
	<h12>My sister myar </h12>
	<h13>is 9 years  </h13>
</center>

 